@import "tailwindcss";


.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: Cherry Bomb One, cursive;
}
.Toastify__toast-container,
.Toastify__toast-container * {
    font-family: 'Cherry Bomb One', cursive !important;
}

.Toastify__toast-body {
    font-size: 16px; 
}