@import "tailwindcss";


.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: Cherry Bomb One, cursive;
}
.Toastify__toast-container,
.Toastify__toast-container * {
    font-family: 'Cherry Bomb One', cursive !important;
}

.Toastify__toast-body {
    font-size: 16px; 
        margin: 10px;

}

::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
}

@keyframes hover-pulse {
  from { transform: scale(1); }
  to { transform: scale(1.05); }
}

.element {
  transition: 
    box-shadow 0.8s ease,
    filter 0.8s ease;
}

.element:hover, .element:focus-visible {
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 1); */
}

@media (prefers-reduced-motion: no-preference) {
  .element:hover, .element:focus-visible {
    animation: hover-pulse 0.8s ease infinite alternate;
  }
}