@import "tailwindcss";


.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: Cherry Bomb One, cursive;
}
.Toastify__toast-container,
.Toastify__toast-container * {
    font-family: 'Cherry Bomb One', cursive !important;
}

.Toastify__toast-body {
    font-size: 16px; 
        margin: 10px;

}

::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
}

@keyframes hover-pulse {
  from { transform: scale(1); }
  to { transform: scale(1.05); }
}

.element {
  transition: 
    box-shadow 0.8s ease,
    filter 0.8s ease;
}

.element:hover, .element:focus-visible {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

@media (prefers-reduced-motion: no-preference) {
  .element:hover, .element:focus-visible {
    animation: hover-pulse 0.8s ease infinite alternate;
  }
}

@keyframes hover-wobble {
  0%, 100% { transform: rotate(0); }
  20% { transform: rotate(-7deg); }
  40% { transform: rotate(8deg); }
  60% { transform: rotate(-4deg); }
  80% { transform: rotate(5deg); }
}

.wobble-button {
  transition: box-shadow 0.6s ease;
}

.wobble-button:hover, .wobble-button:focus-visible {
  /* box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); */
}

@media (prefers-reduced-motion: no-preference) {
  .wobble-button:hover, .wobble-button:focus-visible {
    animation: hover-wobble 0.6s ease 1;
  }
}

.tilt-image {
  transition: transform 0.3s ease;
}

@media (prefers-reduced-motion: no-preference) {
  .tilt-image:hover, .tilt-image:focus-visible {
    transform: scale(1.1) rotate(3deg) translateY(-5px) skewX(2deg);
  }
}